        .card {
            border-radius: 15px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
            background-color: #324E66;
            color:rgb(255, 255, 255);
        }
        .btn-primary {            
            background-color: #F7B919;
            color: #324E66;
            font-weight: 700;
            border-radius: 10px;
            border: none;
            width: 100%;
            padding: 12px;
            font-size: 1.1rem;
            transition: background-color 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #F7B919;
        }
        .form-label {
            color: #FFFFFF;
            font-weight: 600;
            font-weight: bold;
        }
        .form-control {
            border-radius: 10px;
            border: 1px solid #ccc;         
        }
        .register-link {
        text-align: center;
        margin-top: 18px;
    }
    .register-link a {
        color: #F7B919;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    .register-link a:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }