    *{ 
        box-sizing: border-box; 
    }
    
    body { 
        margin:0; 
    }
    
    .app {
        display: flex;
        min-height: 100vh;
        background: #fff;
    }

    #sidebar{
        width: 220px;
        background: #25405e;
        color: #ffc107;
        transition: width .25s ease;
        padding: 8px 10px;
    }
    #sidebar.collapsed{ 
        width: 70px; 
    }
    #sidebar a{
        display:flex;
        align-items:center;
        gap:.6rem;
        color:#ffc107; 
        text-decoration:none;
        padding:10px 12px; 
        border-radius:8px; 
        margin:12px 0;
    }
    #sidebar a:hover{
        background: rgba(255,255,255,.1);
        color:#fff; 
    }
    #sidebar.collapsed span{ 
        display:none; 
    }
    #sidebar i{
        min-width:22px; 
        text-align:center; 
    }
    .right{
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
    }
    
    .topbar{
        height: 120px;
        background:#fff;
        border-bottom:1px solid #e5e7eb;
        display:flex; align-items:center; justify-content:space-between;
        padding: 0 24px;
    }
    
    .main{
        flex:1;
        overflow:auto;
        background:#fff;
        padding: 24px 0;
    }    
    
    #toggle-btn{
        cursor:pointer; 
    }

    #notification{
        position: relative;
    }

    #notification .circle{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 0px;
        right: -2px;
    }