.rating {
    display: flex;
    flex-direction: row;
}
.rating input {
    display: none;
}
.rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}
.rating input:checked ~ label {
    color: gold;
}
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}