  body {
            background-color: #f8f9fa;
        }
        .sidebar {
            background-color: #2d4a5c;
            color: white;
            min-height: 100vh;
            padding: 1rem;
        }
        .logo {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }                
        .tareas-disponibles{
            overflow-y: auto;
            height: 80vh;
        }
        .section-title {            
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 1.1rem;
        }
        .filter-box {
            background: #ffffff;
            padding-left: 20px;
            padding-top: 10px;
            border: 1px solid #e0e0e0;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            margin-top: 35px;
        }
        @media (max-width: 768px) {
            .filter-box {
            margin-bottom: 25px;
            }
        }

      