.card-custom {
    background-color: rgb(252, 252, 252) !important; 
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    margin:10px;
}

.card-custom:hover {
    background-color: #eceff3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}